<a href="https://colab.research.google.com/github/guilhermeavila77/sistema_de_controle/blob/main/Manipula%C3%A7%C3%A3o_de_valores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Trabalhar com escrita e tratamento de valores em um arquivo XLSX

- Ler tabela

In [2]:
import pandas as pd

tabela = pd.read_excel("/content/drive/MyDrive/Curso analise de dados/Base de de dados.xlsx")
display(tabela)

Empty DataFrame
Columns: [NOME, ESTADO, PAIS, FATURAMENTO, DESPESAS, LUCRO]
Index: []

- Escrever uma nova linha

- Alterar uma Informação

- Apagar uma linha

- Escrever uma linha com inputs do usuario

- Alterar uma informação da vontade do usuario

- Apagar uma linha a escolha do usuario

# Buscar valores

- Buscar  clientes:

  - Com maior faturamento
  - Com mair despesa
  - Com maior lucro